.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.img-menu-barra{
  width: 7rem;
  height: 7rem;
  align-content: center;
  margin: 0 auto;
  position: absolute;
  top: 10%;
}
.welcome-card-content{
  font-size: 1.1rem;
  text-align: center;
}
.lista-home{
  display: block;
  justify-content: center;
  align-items: center;
}
.icone-home{
  width: 4rem;
  height: 4rem;
  text-align: center;
}
.flex-centralizado {
  display: flex;
  justify-content: center;
}
ion-title{
  text-align: center;
}
ion-content {
  --background: url(/assets/bg.jpg) no-repeat center/cover fixed;
}
.centered {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
label{
  text-align: center;
  margin: 0 auto;
}
#a{
  padding: 15px;
}
a{
  text-align: center;
}
ion-card{
  text-align: center;
}