<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Home</ion-title>
    <img src="/assets/lilico.png" position="floating" class="img-menu-barra" alt="">
  </ion-toolbar>
</ion-header>
<ion-content color="medium">
    <ion-card class="welcome-card" color="secondary" >
      <img src="/assets/med.jpg" alt="" />
      <ion-card-header>
        <ion-card-title>Seja Bem vindo(a)!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="welcome-card-content">InfoDrugs tem a intenção de te ajudar e facilitar na compra e obtenção de remédios.</p>
      </ion-card-content>
    </ion-card>
    <ion-list color="medium" class="flex-centralizado">
      <ion-card class="lista-home" color="secondary">
        <img class="icone-home" src="/assets/price.png" alt="" />
      </ion-card>
      <ion-card class="lista-home" color="secondary">
        <img class="icone-home" src="/assets/map.png" alt="" />
      </ion-card>
      <ion-card class="lista-home" color="secondary">
        <img class="icone-home" src="/assets/in.png" alt="" />
      </ion-card>
    </ion-list>
</ion-content>
