.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.img-menu-barra{
  width: 6rem;
  height: 7rem;
  align-content: center;
  margin: 0 auto;
  position: absolute;
  top: 10%;
}
.welcome-card-content{
  font-size: 1.1rem;
  text-align: center;
}
.lista-home{
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.icone-home{
  width: 5rem;
  height: 5rem;
}
.flex-centralizado {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
ion-title{
  text-align: center;
}
ion-content {
  --background: url(/assets/bg.jpg) no-repeat center/cover fixed;
}
figcaption{
  position: absolute;
  top: 145px;
  right: 20px;
  font-size: 40px;
  color: white;
  text-shadow: 0px 0px 5px black;
}