.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.img-menu-barra{
  width: 5rem;
  height: 7rem;
  align-content: center;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  float: inherit
}
