<ion-header>
  <ion-toolbar>
    <ion-title>perfil-remedio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Nome: {{remedio.nome}}</ion-label>
        <p></p>
      </ion-item>
      <ion-item>
        <ion-label>Descrição: {{remedio.descricao}}</ion-label>
        <p></p>
      </ion-item>
      <ion-item>
        <ion-label>Quantidade: {{remedio.quantidade}}</ion-label>
        <p></p>
      </ion-item>
      <ion-item>
        <ion-label>Preço: {{remedio.preco}}</ion-label>
        <p></p>
      </ion-item>
</ion-content>
