<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>
    Adicionar remédios
  </ion-title>
  <ion-icon slot="end" style="padding-right: 20px;" size="large" name="return-left" routerLink="/"></ion-icon>
</ion-toolbar>

<ion-content>

  <form #fc="ngForm" (ngSubmit)="onsubmit(fc)">
    <ion-item>
      <ion-label position="floating">Nome do remédio</ion-label>
      <ion-input type="text" [(ngModel)]="remedio.nome" name="nome" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Farmácia</ion-label>
        <ion-input type="text" [(ngModel)]="remedio.farmacia" name="farmacia" required></ion-input>
      </ion-item>
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input type="text" [(ngModel)]="remedio.descricao" name="descricao" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Preço</ion-label>
      <ion-input type="text" [(ngModel)]="remedio.preco" name="preco" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input type="text" [(ngModel)]="remedio.quantidade" name="quantidade" required></ion-input>
    </ion-item>


    <ion-button type="submit" color="primary" expand="block" slot="end">Salvar</ion-button>
    <ion-button type="reset" slot="start" expand="block" color="danger">Cancelar</ion-button>



  </form>

</ion-content>