<ion-toolbar color="tertiary">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>
    Cadastro
  </ion-title>
  <ion-icon slot="end" style="padding-right: 20px;" size="large" name="return-left" routerLink="/"></ion-icon>
</ion-toolbar>


<ion-content>
  <ion-card class="welcome-card" style="text-align:center; " color="secondary">
    <img class="welcome-img" src="/assets/fulltotal.png" alt="" />
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Olá! Seja bem vindo(a)!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Efetue seu cadastro</h2>
    </ion-card-content>
  </ion-card>
  
  <ion-card style="text-align: center; margin-left: 20%; margin-right: 20%;" routerLink="../add-usuario" color="secondary">
    <ion-card-title style="font-size: 1.5rem">
        Cadastrar-se
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="contact" size="large"></ion-icon>
    </ion-card-content>
  </ion-card>
  

</ion-content>